<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>URGaming - CheckURJava</title>
        <link rel="stylesheet" href="_res/style.css">
        <link rel="stylesheet" href="_res/canvas.css">
        <link rel="stylesheet" href="_res/input.css">
        <link rel="stylesheet" href="_res/code.css">
        <link rel="stylesheet" href="../_res/_css/samples.css">
    </head>

    <body>
        <header>
        
        <img id="logo" src="../_res/_img/logo.png" alt="#LOGO#"/>
        <img id="icon" class="sampleIcon"/>
        <h1>CheckURJava</h1>
        </header>
         <div id="samples" class="collappsed">
		<ul id="sample-list" class="list">
		</ul>
	   </div> 

        <div id="code" >Dein Code: <button type="button" id="run" onclick="runCode()">Testen</button><div id = "drop" ondrop="drop(event)" ondragover="allowDrop(event)"></div></div>

        <div id="cr-stage"></div>

      <ul id="input">
        <li>Bedingungen
          <ul>
            <li><div id="if" draggable="true" ondragstart="drag(event)">wenn()</div></li>
          </ul>
        </li>
        <li>Schleifen
          <ul>
            <li><div id="for" draggable="true" ondragstart="drag(event)">x mal</div></li>
            <li><div id="while" draggable="true" ondragstart="drag(event)">solange()</div></li>
          </ul>
        </li>
        <li>Aktionen
          <ul>
            <li><div id="move" draggable="true" ondragstart="drag(event)">geh 1 Schritt</div></li>
            <li><div id="turn" draggable="true" ondragstart="drag(event)">dreh dich rechts</div></li>
          </ul>
        </li>
        <li>Bedingungen
          <ul>
            <li><div id="frontClear" draggable="true" ondragstart="drag(event)">vorne frei</div></li>
            <li><div id="frontBlocked" draggable="true" ondragstart="drag(event)">vorne blockiert</div></li>
          </ul>
        </li>
      </ul>
    </body>
    
  <script src="../_libs/jquery-2.1.4.js"></script>
  <script src="../_libs/pouchdb-4.0.1.min.js"></script> 
  <script src="../_libs/underscore.js"></script>
  <script type="text/javascript" src="https://rawgithub.com/craftyjs/Crafty/release/dist/crafty-min.js"></script>
    
    
  <script src="_src/Game.js"></script>
  <script src="_src/Components.js"></script>
  <script src="_src/Scenes.js"></script>
  <script src="_src/Level.js"></script>
  <script src="_src/Compiler.js"></script>
  <script src="_src/dragAndDrop.js"></script>
  <script src="_src/CheckURJava.js"></script>
    
  <script src="../_src/DatabaseController.js"></script>
  <script src="../_src/Sample.js"></script>    


	<script>
        $(function() {
            CheckURJava.init();
        });
	</script>
    <script id="sampleTemplate" type="text/template">
	    <li>
            <span class="title"><%= title %></span>
            <img class="<%= className %>" title="<%= title %>" src="<%= url %>" data-src="<%= dataUrl %>"/>
        </li>
    </script>


</html>
