<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>URGaming</title> 
        <link rel="stylesheet" href="_res/chardesign.css">
        <link rel="stylesheet" href="../_res/_css/samples.css">
        <link rel="stylesheet" href="../_res/_css/gridiculous.css">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> 
    </head>
    
    <body>
         <header class="row">
         <img id="logo" src="../_res/_img/logo.png" alt="#LOGO#" class="c3"/>
         
        <h1 class="c3 s2">DesignURChar</h1>
         </header>
        
        
        <article>
        <div id="samples" class="collappsed">
		<ul id="sample-list" class="list">
		</ul>
	   </div>    
            
        <div class="row">
         <canvas id="canvas" class="c3 s3" width="307" height="232">HTML5-Canvas not supported, pls try a different browser...</canvas> 
        <div id="toolbox" class="c3 s1">
            
            <div id="colors" class="row"> Colors
            <div class="row">
                <span class="color red active"></span>
                <span class="color blue"></span>
                </div>
                
            <div class="row">    
                <span class="color green"></span>
                <span class="color yellow"></span>
                </div>
            </div>
            <div id="shapes" class="row">  Shapes
            <div class="row">
            <span class="shape circle"></span>
            <span class="shape rect"></span></div>    
            <div class="row">    
            <span class="shape line"></span>
            <span class="shape star"></span></div>    
            </div>
            
            <div id="options" class="row">
            <input class="option" id="nicknameInput" placeholder="Nickname..."></input>
            <button class="option" id="saveButton">> save <</button>
            <button class="option" id="clearButton">> clear <</button>    
            <button class="option" id="quitButton">> quit <</button>
            </div>
            </div>
            </div>
            
        <span class="row c5 s3">JAVA-Console</span>
        <div class="row c5 s3" id="userConsole">>>console<<</div>
        
        
    
        
        </article>
     <script id="sampleTemplate" type="text/template">
	    <li>
            <span class="title"><%= title %></span>
            <img class="<%= className %>" title="<%= title %>" src="<%= url %>" data-src="<%= dataUrl %>"/>
        </li>
    </script>
        
    </body>
    
    <script src="../_libs/jquery-2.1.4.js"></script>  
    <script src="_libs/pouchdb-4.0.1.min.js"></script>
    <script src="../_libs/underscore.js"></script>
    
    <script src="_src/DesignURChar.js"></script>
    <script src="_src/CanvasController.js"></script>
    <script src="_src/ConsoleController.js"></script>
    <script src="_src/UIController.js"></script>
    <script src="../_src/DatabaseController.js"></script>
    <script src="../_src/Sample.js"></script>
	

	<script>
        $(function() { 
            DesignURChar.init();
        });
	</script>
    
    
</html>