body{
    font-family:Comic Sans MS,Verdana,Helvetica;
}
header{
     margin-bottom: 5%;
}

#logo{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor:pointer;
}
#logo:hover{
    border: 7px solid #FF9966;
    border-radius: 7px; 
}

h1{
  margin-left: 100px;    
  text-align:left;  
  color: #999999;
      
}

nav{
  border-style: solid;
  font-size: 28px;
  text-decoration: underline;
  margin-top: 5%; 
  
}
#canvas{
  height: 100%;    
  overflow: auto;
  background: #dadada;
  border: 3px solid #FF9966;
  border-radius: 7px; 
}
.possibleDrop{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;  
  width: 60px;
  height: 60px;
  border: 3px solid #999999;
  border-radius: 7px; 
}
.possibleDrop:hover{
    outline: inherit;
    border-color: #0000DD;
    box-shadow: 0 0  2px #0099DD;
}

#canvas:hover{
    outline: inherit;
    border-color: #FF9966;
    box-shadow: 0 0  20px #FF9966;
}

 
/*menu css*/
@import "compass/css3";

html {
  width: 100% ;
  height: 100% ;
}

.commander {
  position: relative;  
}

.commander p {
  width: auto;
  color: #2E3F47;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.wrapper {
  width: 150px  ;
    position: absolute;
  margin-top: 4%;
}

.button {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid;
  border-radius: 50%;
  background: #2E3F47;
  z-index: 10;
  
}

.line {
  background: #ccc;
  width: 90px;
  height: 15px;
  margin: 15px auto;
}

.line__first {
  margin-top: 37px;
}

.menu {
  z-index: 1;
  float: left;
  width: 100%;
}



li {
  font-size: 22px;
  text-decoration: none;
  color: grey;
  position: relative;
  list-style: none;
  padding-bottom: 15px;
  top: 0px;
  cursor: pointer;
}
li:hover{
    color:#DD0900;
}


#game{
    height:50%;
    width:70%;
    right: 0;
    margin-top: 5%;
    position:absolute;
}

#toolBox{
    right:0;
    margin-left: 5px;
}

#tools{
}

#icon{
    margin-top:15px;
}

.icon{
    margin:5px;
    cursor:pointer;
    align:middle;
    border: 3px solid #FF9966;
    border-radius: 2px; 
}
.icon:hover{
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);

    transform: rotate(20deg);
    outline: inherit;
    border-color: #0000DD;
    box-shadow: 0 0  2px #0099DD;
}

.right{
    float:right;
    margin-right: 2%;
}

.rotation{
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);

    transform: rotate(80deg);
}

.left{
    float:left;
}

.scale{
    width: 60px;
    height: 60px; 
}

.infos{
    width:120px;
    height: 60px; 
}

.number-icon{
    float:left;
    margin: 5px;
    cursor:default;
    text-align: center;
    font-size: 36px;
    border: 3px solid #FF9966;
    border-radius: 2px; 
}
.number-icon:hover{
    outline: inherit;
    border-color: #0000DD;
    box-shadow: 0 0  2px #0099DD;
}

.hide{
    display:none;
}

.nextline{
    
}

.pleasedontfloat { 
    clear:left;
}

.placeholder{
    float:left;
    height: 60px;
    width: 60px;
}

#score{
    margin:5px;
    border: 3px solid #FF9966;
    border-radius: 2px; 
}
#score:hover{
    outline: inherit;
    border-color: #0000DD;
    box-shadow: 0 0  2px #0099DD;
}

#scoreNumber{
    text-align: center;
    font-size: 28px;
}

.tooltext{
    text-decoration: underline;
    font-size: 24px;
    margin:5px;
}

.resetbutton{
    margin-top:30px;
    width:10%;
    font-size: 24px;
    float:left;
    padding: 5px 15px;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px;
}

.margeLeft{
    margin-right: 30px;
}

#winString{
    color:#DD0000;
    font-size: 30px;
    text-decoration: underline;
}



