<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>URGaming - Bool UR Logic</title> 
        <link rel="stylesheet" href="_res_BURL/css/commonstyle.css">
        <link rel="stylesheet" href="../_res/_css/gridiculous.css">
        <link rel="stylesheet" href="../_res/_css/samples.css">
		 
    </head>
    
    <body>
        <header class="row">
            <img id="logo" src="../_res/_img/logo.png" alt="#LOGO#" class="c3"/>
            <h1 class="c7 s1">Bool UR Logic</h1>
            <div class="row s3">
                <button class="buttonBURL c2 s1" id="buttonTutorial">Tutorial</button>
                <button class="buttonBURL c2" id="newGame">Neues Spiel</button>
                <button class="buttonBURL c2" id="quit">Zurück</button>
            </div>
        </header>
       
        <div id="samples" class="collappsed">
		<ul id="sample-list" class="list">
		</ul>
	   </div>
        
        <div class="row c6 s2">
            <img id="help" class="hide" src="_res_BURL/help.jpg" alt="#tutorial#"/>
        </div>
        <div id="game" class="c8 s1">
                <h2 class="row">Ziehe die Logik Gatter in die Lücken</h2>
                <div id="canvas">
                    <img id="icon"  class="icon scale rotation right" >
                    
                    <!--Canvas of level one-->
                    <div class="hide" id="level1">
                        <div class="placeholder pleasedontfloat"></div>
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20runter.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/and.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20runter.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20unten%20rechts.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder2.png">
                        <div id="1-level1" class="possibleDrop left one" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/wecker.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                        
                    </div>
                    
                    <!--Canvas of level two-->
                    <div class="hide" id="level2">
                        <div class="placeholder pleasedontfloat"></div>
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <div id="1-level2" class="possibleDrop left one" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20runter.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20unten%20rechts.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/and.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/wecker.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <div id="2-level2" class="possibleDrop left one" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                    </div>
                    <div class="hide" id="level3">
                        <div class="placeholder pleasedontfloat"></div>
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/not.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder.png">
                        <div id="1-level3" class="possibleDrop left one" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20runter.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20unten%20rechts.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/and.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20runter.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20oben%20rechts.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/wecker.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                    </div>
                    <div class="hide" id="level4">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/not.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20runter.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/nor.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20runter.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20unten%20rechts.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder2.png">
                        <div id="1-level4" class="possibleDrop left one" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/wecker.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/and.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20unten%20rechts.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20unten%20rechts.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder.png">
                        <div id="2-level4" class="possibleDrop left one" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                    </div>
                    <div class="hide" id="level5">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/not.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20runter.png">
                        <div class="placeholder pleasedontfloat"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20oben%20rechts.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20runter.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/and.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <div id="1-level5" class="possibleDrop left one" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20runter.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder.png">
                        <div id="2-level5" class="possibleDrop left one" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/not.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/wecker.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/not.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20vertikal.png">
                        
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie1.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/not.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabelverbinder.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/nor.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <div id="3-level5" class="possibleDrop left one" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                        <img class="placeholder pleasedontfloat" src="../BoolURLogic/_res_BURL/batterie2.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel.png">
                        <img class="placeholder" src="../BoolURLogic/_res_BURL/kabel%20hoch.png">
                    </div>
                </div>
                <div id="toolBox">
                     <div class="left  margeLeft">
                        <p class="tooltext">Level</p>
                        <div id="level" class="number-icon infos">1</div>
                     </div>
                     <div class="left  margeLeft">
                        <p class="tooltext">Timer</p>
                        <div id="time" class="number-icon infos">0:00</div>
                     </div>
                     <div class="left  margeLeft">
                        <p class="tooltext">Score</p>
                        <div id="score" class="number-icon infos">0</div>
                     </div>
                     <div class="left">
                        <p class="tooltext">Hier die möglichen Gatter</p>
                        <div id="tools"></div>
                     </div>
                     <h2 id="winString" class="hide pleasedontfloat">Sie haben das Level gewonnen. Viel Spaß beim nächsten</h2>
                </div>
        </div>
    </body>
    <script src="_src/BoolURLogic.js"></script>
    <script src="_src/Game.js"></script>
    <script src="_src/levelChecker.js"></script>
    <script src="_src/levelManager.js"></script>
    <script src="_src/winChecker.js"></script>
    <script src="../_src/DatabaseController.js"></script>
    <script src="../_libs/underscore.js"></script>  
	<script src="../_libs/jquery-2.1.4.js"></script>  
    <script src="../_libs/pouchdb-4.0.1.min.js"></script>
    <script src="../_src/Sample.js"></script>


	<script>
        $(function() { 
            BoolURLogic.init();
        });
	</script>
    <script id="sampleTemplate" type="text/template">
	    <li>
            <span class="title"><%= title %></span>
            <img class="<%= className %>" title="<%= title %>" src="<%= url %>" data-src="<%= dataUrl %>"/>
        </li>
    </script>
    
    
</html>