#input div{
  background-color: white;
  display: inline-table;
}

#input ul
{
margin: 0;
padding: 0;
list-style-type: none;
}


#input ul li div
{
text-decoration: none;
margin-right: 5px;
}

#input {
    background-color: #dadada;
    padding:10px;
    margin:0;
    list-style-type:none;
    width:68%;
    height: 100px;
}
#input li {
    width:25%;
    float:left;
}
